.layout-body-container {
  height: 100%;
  padding: 50px 0;
}

.main-container {
  background: #fefefe;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  padding: 0 !important;
}

.public-container {
  @extend .main-container;
  max-width: 400px;
  top: 50%;
  transform: translateY(-60%);
}

.layout-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 80%;
}

.layout-main-content {
  width: 80%;
  float: right;
  position: relative;
  background: #eaf1f5;
  overflow: scroll;
}

.page-title {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
}

.public-container-content {
  min-height: 400px;
}

.l-height-full {
  height: 100%;
}

.l-overflow-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
}